/* global */
:root {
  --primary: hsl(172, 67%, 45%);
  --darkCyan: hsl(183, 100%, 15%);
  --darkGrayCyan: hsl(186, 14%, 43%);
  --grayishCyan: hsl(184, 14%, 56%);
  --lightGrayishCyan: hsl(185, 41%, 84%);
  --veryLightGrayishCyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --error: hsl(0, 57%, 52%);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* {
  margin: 0;
}
/* main */
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--lightGrayishCyan);
  font-family: "Space Mono", monospace;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
input {
  font-size: 24px;
}
.error {
  color: var(--error);
}
/* body */
.container {
  background-color: var(--white);
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  height: 50%;
  border-radius: 20px;
}
.container-blocks {
  border: 1px solid brown;
  border-radius: 20px;
  width: 45%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.right {
  background-color: var(--darkCyan);
}
